<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="topnav">
        <a class="active" href="/">Back home</a>
        <a href="/contact-us">Contact-us</a>
         <a href="/our-services">Our-services</a>
      </div>
    <div class="container">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <br>
        <input
          type="text"
          id="fname"
          name="firstname"
          placeholder="Your name.."
        />
<br>
        <label for="lname">Last Name</label>
        <br>
        <input
          type="text"
          id="lname"
          name="lastname"
          placeholder="Your last name.."
        />
<br>
        <label for="country">Country</label>
        <br>
        <select id="country" name="country">
          <option value="Tunisia">Tunisia</option>
          <option value="Morocco">Morocco</option>
          <option value="Algeria">Algeria</option>
          <option value="Libya">Libya</option>
          <option value="Egypt">Egypt</option>
          <option value="Senegal">Senegal</option>
          <option value="Nigeria">Nigeria</option>
        </select>
<br>
        <label for="subject">Subject</label>
        <br>
        <textarea
          id="subject"
          name="subject"
          placeholder="Write something.."
          style="height: 200px"
        ></textarea>
<br>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
