<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>  
    <div class="topnav">
        <a class="active" href="/">Back Home</a>
        <a href="/contact-us">Contact-us</a>
        <a href="/our-services">Our-services</a>
      </div>
      <br>
      <div class="container">
      <label class="Formations">Nos Formations</label>
      <br>
      <select id="Nos Formations" name="Nos Formations">
        <option value="Bootcamp">Bootcamps</option>
        <option value="Data">Data</option>
        <option value="Web">Web</option>
        <option value="Design">Design</option>
        <option value="Marketing">Marketin</option>
        <option value="Game">Game</option>
      </select>
      <br>
      
      <a href="https://gomycode.com/" target="_blank">Visit Us For More Informations!</a>
      
    </div>
</body>
</html>